body{
    font-family: 'Montserrat', 'sans-serif';
    margin: 0;
}

h1{
    margin-left: 50px;
    color: rgba(31, 73, 31, 0.678);
}

header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(102, 124, 96);
    padding: 6px 10px;
    color: white;
}

footer{
    background-color: rgb(102, 124, 96);
    text-align: center;
    color: white;
    position:fixed;
    width:100%;
    bottom:0px;
    font-size: 12px;
}
